html{font-size: 100px;}
@media(max-width: 1920px){
    html{font-size: calc(80vw / 1920 * 100);}
}
@media(max-width: 1080px){
    html{font-size: calc(100vw / 1080 * 100);}
}

main{font-family: 'Montserrat-light';width: 100%;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;font-size:0;}

.wa-main{width: 100%;background-color: #f5f5f5;}
.wa-inner{width: 100%;max-width: 100%;margin: 0 auto;background-color: #fff;}
.wa-box{width: 100%;padding-top: calc(100vh - 60px);position: relative;}
.wa-img{width: 100%;height: 100%;position: absolute;left: 0;top: 0;object-fit: cover;}
.wa-text{width: 100%;position: absolute;left: 0;top: 0;text-align: center;padding-top: 1.28rem;}
.wa-tit{font-size: .44rem;color: #000;line-height: 1.33;margin-bottom: .37rem;padding: 0 0.5em;font-family: "Montserrat";}
.wa-tit br{display: none;}
.wa-des{font-size: .36rem;color: #000;line-height: 1.42;}
@media(max-width: 1080px){
    .wa-text{padding-top: .65rem;}
    .wa-tit{font-size: .36rem;line-height: 1.33;margin-bottom: .15rem;}
    .wa-tit br{display: block;}
    .wa-des{font-size: .28rem;line-height: 1.42;max-width: 31em;margin: 0 auto;}
    .wa-box{padding-top: 7.92rem;}
}

.wb-main{width: 100%;background-color: #f5f5f5;}
.wb-inner{width: 100%;max-width: 100%;margin: 0 auto;padding-top: 0.8rem;padding-bottom: .58rem;background-color: #fff;}
.wb-tit{font-size: .48rem;color: #000;line-height: 1;margin-bottom: .18rem;font-family: "Montserrat";}
.wb-box{width: 15.11rem;margin:0 auto;}
.wb-img{width: 100%;}
.wb-text{width: 100%;font-size: .24rem;color: #202020;line-height: 1.66;text-align: left;max-width: 17rem;margin: 0 auto;position: relative;margin-top: -0.65rem;}
.wb-text p{text-indent: 2em;margin-bottom: .16rem;}
.wb-text p:last-child{margin-bottom: 0;}
@media(max-width: 1080px){
    .wb-inner{padding-top: .68rem;padding-bottom: .38rem;}
    .wb-tit{font-size: .36rem;margin-bottom: .2rem;}
    .wb-box{width: 100%;}
    .wb-text{font-size: .26rem;line-height: 1.69;max-width: 100%;padding: 0 .25rem;box-sizing: border-box;}
}

.wc-main{width: 100%;position: relative;}
.wc-box{width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.wc-img{width: 100%;height: 100%;position: absolute;left: 0;top: 0;object-fit: cover;}
.wc-tit{font-size: .48rem;color: #202020;padding-top: 0.77rem;margin-bottom: 2rem;text-align: center;font-family: "Montserrat";z-index: 12;width: 100%;line-height: 1;position: relative;}
.wc-text{width: 16.77rem;margin: 0 auto 2rem;background-color: rgba(0,0,0,0.3);font-size: .24rem;color: #fff;line-height: 1.66;text-align: left;padding: .6rem .36rem;box-sizing: border-box;position: relative;z-index: 12;}
.wc-text p{text-indent: 2em;}
.wc-bot{width: 100%;height: 2.51rem;left: 0;bottom: 0;z-index: 12;background-image: url(../images/w23.png);background-size: 100% 100%;position: relative;}
.wc-list{width: 100%;font-size: 0;text-align: center;padding-top: .69rem;}
.wc-item{display: inline-block;vertical-align: top;width: 2.4rem;}
.wc-item:nth-child(4n+2){transition-delay: .2s;}
.wc-item:nth-child(4n+3){transition-delay: .4s;}
.wc-item:nth-child(4n+4){transition-delay: .6s;}
.wc-t{font-size: .2rem;line-height: 1.35;}
.wc-icon{margin-bottom: .15rem;}
.wc-i{height: .8rem;}
@media(max-width: 1080px){
    .wc-main{padding-bottom: 0.7rem;}
    .wc-box{padding-top: 68.98%;position: relative;}
    .wc-tit{font-size: .36rem;top: 0.6rem;margin-bottom: 0;position: absolute;padding-top: 0;}
    .wc-bot{position: relative;background-size: 100% auto;height: auto;margin-top: -0.89rem;}
    .wc-text{width: 100%;position: relative;margin-left: 0;left: 0;top: 0;margin-bottom: 0;}
    .wc-list{padding-top: .76rem;margin-bottom: .49rem;}
    .wc-item{width: 2rem;}
    .wc-i{height: .45rem;}
    .wc-t{line-height: 1;}
    .wc-text{font-size: .26rem;line-height: .44rem;background-color: transparent;color: #000;padding: 0 .5rem;}
}

.wd-main{width: 100%;background-color: #f5f5f5;padding: .75rem 0 1.66rem;}
.wd-inner{width: 100%;max-width: 97.34%;margin: 0 auto;}
.wd-tit{font-size: .48rem;color: #202020;text-align: center;margin-bottom: .94rem;font-family: "Montserrat";line-height: 1;}
.wd-out{width: 100%;max-width: 16.09rem;margin: 0 auto 1.15rem;background-color: #fff;}
.wd-bn{width: 100%;}
.wd-s{width: auto;padding: .46rem 1rem .38rem .32rem;}
.wd-s:last-child{padding-right: .3rem;}
.wd-item{width: 100%;text-align: center;}
.wd-box{width: 100%;text-align: center;margin-bottom: .38rem;}
.wd-img{height: 3.21rem;max-width: none;vertical-align: top;}
.wd-t{font-size: .28rem;color: #202020;padding-top: .19rem;position: relative;line-height: 1;font-family: "Montserrat";}
.wd-t:before{content: "";display: inline-block;width: .56rem;height: .05rem;border-radius: .03rem;background-color: #2c2c2c;position: absolute;left: 50%;margin-left: -0.28rem;top: 0;}
.wd-text{width: 100%;}
.wd-hd{font-size: .3rem;color: #202020;line-height: 1.33;font-family: "Montserrat";margin-bottom: .34rem;}
.wd-des{font-size: .24rem;color: #202020;line-height: 1.66;}
@media(max-width: 1080px){
    .wd-main{padding-top: .29rem;padding-bottom: .35rem;}
    .wd-inner{background-color: #fff;padding-top: .95rem;padding-bottom: .52rem;}
    .wd-tit{font-size: .36rem;margin-bottom: .88rem;}
    .wd-out{}
    .wd-s{padding: 0 .2rem 0 .4rem;}
    .wd-s:last-child{padding-right: .2rem;}
    .wd-img{height: 1.86rem;}
    .wd-t{font-size: .24rem;}
    .wd-hd{font-size: .26rem;}
    .wd-des{font-size: .26rem;}
}

.we-main{width: 100%;background-color: #f5f5f5;padding-bottom: .24rem;}
.we-inner{width: 100%;max-width: 100%;margin: 0 auto;padding-top: .36rem;padding-bottom: .33rem;background-color: #fff;}
.we-tit{font-size: .48rem;color: #000;line-height: 1.5;font-family: "Montserrat";margin-bottom: .04rem;}
.we-t{font-size: .4rem;color: #000;line-height: 1.5;}
.we-box{width: 14.06rem;margin: 0 auto;}
.we-img{width: 100%;vertical-align: top;}
.we-des{font-size: .24rem;color: #202020;line-height: 1.66;text-align: left;width: 100%;max-width: 17.3rem;margin: 0 auto;}
.we-des p{text-indent: 2em;}
@media(max-width: 1080px){
    .we-inner{padding-bottom: .45rem;}
    .we-box{width: 100%;}
    .we-tit{font-size: .36rem;}
    .we-t{font-size: .3rem;}
    .we-des{font-size: .26rem;padding: 0 .3rem;box-sizing: border-box;}
}

.wf-main{width: 100%;background-color: #f5f5f5;}
.wf-inner{width: 100%;max-width: 100%;margin: 0 auto;padding-top: .58rem;padding-bottom: .58rem;background-color: #fff;}
.wf-tit{font-size: .48rem;color: #000;line-height: 1;font-family: "Montserrat";margin-bottom: .54rem;}
.wf-box{width: 15.38rem;margin: 0 auto .25rem;}
.wf-img{width: 100%;vertical-align: top;}
.wf-des{font-size: .24rem;color: #202020;line-height: 1.66;text-align: left;width: 100%;max-width: 17.3rem;margin: 0 auto;}
.wf-des p{text-indent: 2em;}
@media(max-width: 1080px){
    .wf-inner{padding-bottom: .22rem;padding-top: .72rem;}
    .wf-box{width: 9.32rem;}
    .wf-tit{font-size: .36rem;}
    .wf-des{font-size: .26rem;padding: 0 .3rem;box-sizing: border-box;}
}

.wg-main{width: 100%;}
.wg-item{width: 100%;background-size: cover;background-position: center center;padding: 0.82rem 0;}
.wg-tit{font-size: .48rem;color: #000;line-height: 1;font-family: "Montserrat";margin-bottom: .82rem;}
.wg-inner{width: 100%;max-width: 17.7rem;margin: 0 auto;text-align: left;}
.wg-left{float: left;width: 8.11rem;box-shadow: 0 0.02rem 0.29rem rgba(0,0,0,0.1);}
.wg-box{width: 100%;padding-top: 86.8%;position: relative;}
.wg-img{max-width: 100%;max-height: 100%;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.wg-text{float: right;width: 8.8rem;padding-top: 1.08rem;}
.wg-t{font-size: .4rem;color: #202020;font-family: "Montserrat";line-height: 1;min-height: 2.2rem;padding-bottom: .3rem;}
.wg-type{font-size: .3rem;color: #202020;line-height: 1.33;margin-bottom: .34rem;}
.wg-des{font-size: .24rem;color: #202020;line-height: 1.66;}
@media(max-width: 1080px){
    .wg-item{padding-top: .53rem;padding-bottom: .53rem;background-size: auto 100%;background-position: right center;}
    .wg-left{float: none;width: 5.73rem;margin: 0 auto;border-radius: .08rem;overflow: hidden;}
    .wg-text{float: none;width: 100%;padding: 0 .25rem;box-sizing: border-box;}
    .wg-tit{font-size: .36rem;margin-bottom: .74rem;}
    .wg-t{min-height: 0;text-align: center;font-size: .33rem;margin-top: -0.7rem;margin-bottom: .86rem;position: relative;z-index: 12;}
    .wg-type{text-align: center;font-size: .3rem;}
    .wg-des{text-align: center;font-size: .22rem;line-height: 1.81;}
}



.wh-main{width: 100%;background-color: #f5f5f5;padding-bottom: 1.5rem;padding-top: .83rem;}
.wh-inner{width: 100%;max-width: 97.34%;margin: 0 auto;}
.wh-tit{font-size: .48rem;color: #000;line-height: 1;font-family: "Montserrat";margin-bottom: .29rem;}
.wh-des{font-size: .24rem;color: #202020;line-height: 1.66;width: 100%;max-width: 16rem;margin: 0 auto .94rem;}
.wh-t{width: 100%;text-align: center;font-size: 0;margin-bottom: .24rem;}
.wh-logo{height: .97rem;vertical-align: middle;margin-right: .8rem;}
.wh-hd{font-size: .36rem;color: #202020;display: inline-block;vertical-align: middle;line-height: 1;}
.wh-form{width: 100%;max-width: 14.92rem;margin: 0 auto;}
.wh-row{width: 100%;margin-bottom: .25rem;}
.wh-col{width: 7.23rem;}
.wh-col:nth-child(2n+1){float: left;}
.wh-col:nth-child(2n){float: right;}
.wh-input{width: 100%;height: .59rem;border: 0.02rem solid #7c7c7c;padding: 0 .2rem;font-size: .2rem;color: #202020;background-color: transparent;box-sizing: border-box;}
.wh-area{width: 100%;height: 1.64rem;border: 0.02rem solid #7c7c7c;padding: .17rem .2rem;font-size: .2rem;color: #202020;line-height: 1.5;background-color: transparent;box-sizing: border-box;vertical-align: top;}
.wh-last{width: 100%;padding-top: .2rem;text-align: left;font-size: 0;}
.wh-sub{display: inline-block;vertical-align: top;line-height: .58rem;height: .58rem;padding: 0 .33rem;background-color: #0076ba;font-size: .36rem;color: #fff;border-radius: .1rem;border: none;cursor: pointer;}
@media(max-width: 1080px){
    .wh-main{padding-top: 1rem;}
    .wh-inner{max-width: 100%;padding-left: .18rem;padding-right: .18rem;box-sizing: border-box;}
    .wh-tit{font-size: .36rem;margin-bottom: .5rem;}
    .wh-des{font-size: .22rem;line-height: 1.81;padding: 0 .5rem;margin-bottom: 1.4rem;box-sizing: border-box;}
    .wh-logo{height: .67rem;margin-right: .19rem;}
    .wh-hd{font-size: .24rem;vertical-align: bottom;}
    .wh-t{margin-bottom: .57rem;}
    .wh-row{margin-bottom: 0;}
    .wh-col{width: 100%;margin-bottom: .17rem;}
    .wh-col:nth-child(2n+1){float: none;}
    .wh-col:nth-child(2n){float: none;}
    .wh-input{height: .69rem;font-size: .2rem;}
    .wh-last{padding-top: .43rem;}
    .wh-area{font-size: .2rem;height: 2.62rem;}
    .wh-sub{font-size: .26rem;line-height: .42rem;height: .42rem;padding: 0 .24rem;border-radius: .1rem;}
}


.wi-main{width: 100%;background-color: #f5f5f5;padding-bottom: .25rem;}
.wi-inner{width: 100%;max-width: 97.34%;margin: 0 auto;}
.wi-tit{font-size: .48rem;color: #000;line-height: 1;font-family: "Montserrat";margin-bottom: .22rem;}
.wi-t{font-size: .3rem;color: #202020;text-align: center;line-height: 1;margin-bottom: .3rem;}
.wi-list{width: 100%;font-size: 0;text-align: center;padding-bottom: .3rem;}
.wi-item{display: inline-block;vertical-align: top;width: 33.33%;}
.wi-icon{text-align: center;margin-bottom: .16rem;}
.wi-i{height: .58rem;vertical-align: top;}
.wi-hd{font-size: .28rem;line-height: 1.43;}
.wi-map{width: 100%;margin: 0 auto;height: 6.84rem;background-size: cover;background-position: center center;}
.wi-last{width: 100%;text-align: center;padding-top: .17rem;}
.wi-one{display: inline-block;vertical-align: top;padding-right: .5rem;}
.wi-one:last-child{padding-right: 0;}
.wi-ic{display: inline-block;vertical-align: top;height: .35rem;margin-right: .1rem;}
.wi-txt{font-size: .24rem;color: #202020;line-height: .35rem;display: inline-block;vertical-align: top;}
@media(max-width: 1080px){
    .wi-tit{font-size: .36rem;margin-bottom: .3rem;}
    .wi-t{font-size: .3rem;margin-bottom: .9rem;}
    .wi-hd{font-size: .24rem;}
    .wi-icon{margin-bottom: .28rem;}
    .wi-i{height: .4rem;}
    .wi-map{height: 12.25rem;}
    .wi-item:nth-child(3n+1),
    .wi-item:nth-child(3n){width: 28%;}
    .wi-item:nth-child(3n+2){width: 44%;}
    .wi-last{padding-top: .4rem;padding-left: .5rem;padding-right: 1rem;box-sizing: border-box;width: 100%;}
    .wi-one{padding-left: .63rem;position: relative;text-align: left;width: 100%;margin-bottom: .32rem;box-sizing: border-box;}
    .wi-one:last-child{margin-bottom: 0;}
    .wi-ic{vertical-align: middle;height: .49rem;position: absolute;left: 0;top: 50%;margin-top: -0.245rem;}
    .wi-txt{font-size: .26rem;line-height: .53rem;vertical-align: middle;}
}

.wj-main{width: 100%;position: relative;overflow: hidden;}
.wj-box{width: 100%;padding-top: calc(100vh - 60px);position: relative;}
.wj-img{width: 100%;height: 100%;position: absolute;left: 0;top: 0;object-fit: cover;}
.wj-img.phone{display: none;}
.wj-text{width: 100%;position: absolute;left: 0;top: 0;margin-top: 7.0%;text-align: center;z-index: 10;}
.wj-tit{font-size: .6rem;color: #fff;font-family: "Montserrat";line-height: 1;margin-bottom: .18rem;}
.wj-des{font-size: .33rem;color: #fff;line-height: 1.3;}
.wj-list{width: 100%;text-align: center;font-size: 0;position: absolute;left: 0;bottom: 1.5rem;}
.wj-item{display: inline-block;vertical-align: top;width: 4.75rem;}
.wj-dd{width: 100%;margin-bottom: .13rem;}
.wj-t{font-size: .36rem;line-height: 1;vertical-align: top;}
.wj-icon{display: inline-block;vertical-align: top;height: .36rem;}
.wj-icon.phone{display: none;}
.wj-dt{font-size: .24rem;line-height: 1;}
.wj-btn{display: block;width: 8.36rem;line-height: .81rem;border: 0.02rem solid rgba(255,255,255,0.51);border-radius: .26rem;text-align: center;font-size: .4rem;color: #fff;position: absolute;left: 1.25rem;bottom: 2rem;}
.wj-btn.phone{display: none;}
.wj-btn.black{border-color: #222;color: #222;}
.wj-text.black .wj-tit{color: #000;}
.wj-text.black .wj-des{color: #000;}
@media(min-width: 1081px){
    .wj-text.pc-black .wj-tit{color: #000;}
    .wj-text.pc-black .wj-des{color: #000;}
}
@media(max-width: 1080px){
    .wj-box{padding-top: 177.77%;}
    .wj-img.pc{display: none;}
    .wj-img.phone{display: block;}
    .wj-text{margin-top: 36%;}
    .wj-tit{font-size: .72rem;}
    .wj-des{font-size: .36rem;}
    .wj-list{bottom: 3.97rem;/*background: rgba(0,0,0,0.2);*/padding:15px 0;}
    .wj-item{width: 33.33%;}
    .wj-dd{margin-bottom: .2rem;}
    .wj-t{font-size: .44rem;}
    .wj-dt{font-size: .33rem;}
    .wj-icon{height: .4rem;/* display: none; */}
    .wj-icon.phone{/* display: inline-block; */}
    .wj-btn.phone{display: block;}
    .wj-list.phone-black .wj-t,
    .wj-list.phone-black .wj-dt{/* color: #232323; */}
}


.wk-main{width: 100%;position: relative;}
.wk-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wk-bg.phone{display: none;}
.wk-cont{width: 100%;position: relative;z-index: 12;padding-top: .9rem;}
.wk-tit{font-size: .48rem;color: #fff;line-height: .6rem;font-family: "Montserrat";text-align: center;margin-bottom: .33rem;}
.wk-bot{width: 100%;padding: .3rem 0;position: relative;text-align: center;}
.wk-text{display: inline-block;vertical-align: middle;width: 7.2rem;max-height: 8.97rem;overflow: auto;font-size: .3rem;color: #fff;line-height: .55rem;text-align: left;margin-right: .65rem;}
.wk-box{display: inline-block;vertical-align: middle;width: 7.85rem;line-height: 1;}
.wk-img{width: 100%;}
@media(max-width: 1080px){
    .wk-main{padding-bottom: 2rem;box-sizing: border-box;}
    .wk-bg.pc{display: none;}
    .wk-bg.phone{display: block;}
    .wk-cont{padding-top: 2.31rem;box-sizing: border-box;}
    .wk-tit{font-size: .5rem;line-height: .8rem;padding: 0 0.8rem;margin-bottom: 0.8rem;box-sizing: border-box;}
    .wk-bot{height: auto;line-height: 1;padding: 0;}
    .wk-text{font-size: .33rem;line-height: .55rem;width: 100%;max-height: none;padding-bottom: 1rem;margin-right: 0;padding-left: .7rem;padding-right: .67rem;box-sizing: border-box;}
}

.wl-main{width: 100%;position: relative;padding: .3rem 0;overflow: hidden;}
.wl-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wl-bg.phone{display: none;}
.wl-cont{width: 100%;position: relative;z-index: 12;text-align: left;display: inline-block;vertical-align: middle;}
.wl-inner{width: 100%;max-width: 15.7rem;margin: 0 auto;}
.wl-name{font-size: .28rem;color: #fff;line-height: 1;margin-bottom: 0.08rem;}
.wl-tit{font-size: .48rem;color: #fff;line-height: 1;font-family: "Montserrat";text-align: center;margin-bottom: .36rem;text-align: left;}
.wl-bot{width: 100%;line-height: 1;font-size: 0;}
.wl-dls{width: 45.85%;margin-right: 4.15%;display: inline-block;vertical-align: middle;}
.wl-dl{width: 100%;border-bottom: 1px solid rgba(255,255,255,0.6);padding: .3rem 0 .1rem;}
.wl-dt{float: left;font-size: .24rem;color: #fff;line-height: 1;}
.wl-dd{float: right;font-size: .24rem;color: #fff;line-height: 1;}
.wl-box{display: inline-block;vertical-align: middle;width: 50%;line-height: 1;}
.wl-img{width: 125.86%;margin-left: -12.43%;}
@media(max-width: 1080px){
    .wl-main{line-height: 1;padding-top: 1.87rem;padding-bottom: 1.87rem;box-sizing: border-box;}
    .wl-bg.pc{display: none;}
    .wl-bg.phone{display: block;}
    .wl-name{text-align: center;font-size: .33rem;margin-bottom: .28rem;}
    .wl-tit{text-align: center;font-size: .5rem;margin-bottom: 0.8rem;}
    .wl-dls{width: 100%;margin-right: 0;padding-left: .78rem;padding-right: .7rem;box-sizing: border-box;margin-bottom: 1rem;}
    .wl-box{width: 100%;}
    .wl-img{width: 100%;margin-left: 0;}
    .wl-dt{font-size: .32rem;}
    .wl-dd{font-size: .32rem;}
    .wl-dl{padding: .4rem 0 .14rem;}
}


.wm-main{width: 100%;min-height: 10.8rem;position: relative;box-sizing: border-box;}
.wm-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wm-bg.phone{display: none;}
.wm-cont{width: 100%;position: relative;z-index: 12;padding-top: .86rem;padding-bottom: .86rem;}
.wm-tit{font-size: .48rem;color: #fff;line-height: .6rem;font-family: "Montserrat";text-align: center;margin-bottom: .76rem;}
.wm-list{width: 100%;text-align: center;margin-bottom: .56rem;font-size: 0;}
.wm-item{display: inline-block;vertical-align: top;width: 4.7rem;}
.wm-item:nth-child(4n+2){transition-delay: .2s;}
.wm-item:nth-child(4n+3){transition-delay: .4s;}
.wm-item:nth-child(4n+4){transition-delay: .6s;}
.wm-dd{font-size: .36rem;color: #fff;line-height: 1;font-family: "Montserrat";margin-bottom: .12rem;}
.wm-dt{font-size: .24rem;color: #fff;line-height: 1;}
.wm-inner{width: 100%;max-width: 16rem;margin: 0 auto;background-color: rgba(255,255,255,0.55);text-align: left;padding: .7rem 0 .45rem .44rem;box-sizing: border-box;}
.wm-name{font-size: .28rem;color: #171717;line-height: 1;margin-bottom: .15rem;}
.wm-t{font-size: .36rem;color: #171717;line-height: 1;font-family: "Montserrat";margin-bottom: .46rem;}
.wm-bot{width: 100%;font-size: 0;}
.wm-text{font-size: .26rem;color: #171717;line-height: 1.38;width: 48.2%;display: inline-block;vertical-align: middle;}
.wm-text p{margin-bottom: .25rem;padding-left: 1.15em;position: relative;box-sizing: border-box;}
.wm-text p:before{content:"";display: inline-block;width: .57em;height: .57em;border-radius: 50%;background-color: #171717;position: absolute;left: 0;top: .4em;}
.wm-text p:last-child{margin-bottom: 0;}
.wm-box{width: 51.8%;display: inline-block;vertical-align: middle;}
.wm-img{width: 100%;}
@media(max-width: 1080px){
    .wm-main{min-height: 19.2rem;}
    .wm-bg.pc{display: none;}
    .wm-bg.phone{display: block;}
    .wm-cont{padding-top: 1.46rem;padding-bottom: 1.36rem;}
    .wm-tit{font-size: .5rem;line-height: 1.6;padding: 0 0.8rem;margin-bottom: .9rem;}
    .wm-list{margin-bottom: .9rem;}
    .wm-dd{margin-bottom: .18rem;}
    .wm-inner{max-width: 9.95rem;padding: .9rem .3rem 1.7rem;}
    .wm-item{width: 33.33%;}
    .wm-name{font-size: .3rem;margin-bottom: .38rem;}
    .wm-t{font-size: .4rem;margin-bottom: .9rem;}
    .wm-text{width: 100%;font-size: .33rem;margin-bottom: .54rem;}
    .wm-box{width: 100%;}
    .wm-text p{margin-bottom: .28rem;}
}


.wn-main{width: 100%;min-height: 10.8rem;position: relative;box-sizing: border-box;}
.wn-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wn-bg.phone{display: none;}
.wn-cont{width: 100%;position: relative;z-index: 12;padding-top: 0.5rem;}
.wn-tit{font-size: .48rem;color: #fff;line-height: .6rem;font-family: "Montserrat";text-align: center;}
.wn-list{width: 100%;text-align: center;position: absolute;left: 0;bottom: 0.5rem;z-index: 10;font-size: 0;}
.wn-item{display: inline-block;vertical-align: top;width: 3.74rem;}
.wn-item:nth-child(5n+2){transition-delay: .2s;}
.wn-item:nth-child(5n+3){transition-delay: .4s;}
.wn-item:nth-child(5n+4){transition-delay: .6s;}
.wn-item:nth-child(5n+5){transition-delay: .8s;}
.wn-box{width: 1.98rem;height: 1.98rem;border-radius: 50%;overflow: hidden;margin: 0 auto;}
.wn-img{width: 100%;height: 100%;object-fit: cover;}
.wn-t{font-size: .24rem;color: #fff;line-height: .33rem;position: relative;}
.wn-t:before{content:"";display: inline-block;width: .35rem;height: .04rem;border-radius: .02rem;background-color: #fff;position: absolute;left: 50%;margin-left: -0.175rem;top: -0.14rem;}
.wn-wrap{width: 2.96rem;height: 2.65rem;background-image: url(../images/w35.png);background-size: 100% 100%;margin: 0 auto;padding-top: .22rem;box-sizing: border-box;position: relative;}
.wn-wrap:after{content:"";display: inline-block;width: 2.2rem;height: .77rem;background-image: url(../images/w36.png);background-size: 100% 100%;position: absolute;left: 50%;margin-left: -1.1rem;bottom: 0.03rem;}
@media(max-width: 1080px){
    .wn-main{min-height: 19.2rem;}
    .wn-bg.pc{display: none;}
    .wn-bg.phone{display: block;}
    .wn-cont{padding-top: 1.4rem;}
    .wn-tit{font-size: .5rem;line-height: 1.6;}
    .wn-list{bottom: .65rem;}
    .wn-item{width: 33.33%;margin-bottom: .6rem;}
}


.wo-main{width: 100%;min-height: 10.8rem;position: relative;box-sizing: border-box;}
.wo-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wo-bg.phone{display: none;}
.wo-cont{width: 100%;position: relative;z-index: 12;padding-top: .9rem;padding-bottom: .7rem;}
.wo-tit{font-size: .48rem;color: #fff;line-height: .6rem;font-family: "Montserrat";text-align: center;margin-bottom: .97rem;}
.wo-inner{width: 100%;max-width: 15.95rem;margin: 0 auto;background-color: rgba(255,255,255,0.55);text-align: left;padding: .38rem 0 .06rem .44rem;box-sizing: border-box;display: flex;flex-wrap: wrap;align-items: center;flex-direction: row-reverse;}
.wo-left{float: left;;width: 7.2rem;padding: .72rem 0;}
.wo-name{font-size: .28rem;color: #171717;line-height: 1;margin-bottom: .5rem;}
.wo-text{font-size: .26rem;color: #171717;line-height: 1.38;}
.wo-text p{margin-bottom: .15rem;padding-left: 1.15em;position: relative;box-sizing: border-box;}
.wo-text p:before{content:"";display: inline-block;width: .57em;height: .57em;border-radius: 50%;background-color: #171717;position: absolute;left: 0;top: .4em;}
.wo-text p:last-child{margin-bottom: 0;}
.wo-box{float: right;width: 7.5rem;margin-right: .5rem;}
.wo-img{width: 100%;vertical-align: top;}
@media(max-width: 1080px){
    .wo-main{min-height: 19.2rem;}
    .wo-bg.pc{display: none;}
    .wo-bg.phone{display: block;}
    .wo-cont{padding-top: .76rem;}
    .wo-tit{font-size: .5rem;line-height: 1.6;margin-bottom: .47rem;}
    .wo-inner{max-width: 9.95rem;padding: .1rem 0 .3rem;display: block;}
    .wo-left{float: none;width: 100%;padding: 0 .33rem;box-sizing: border-box;}
    .wo-box{float: none;width: 9.02rem;margin: 2rem auto;}
    .wo-text{font-size: .33rem;}
    .wo-name{display: none;}
    .wo-text p{margin-bottom: .25rem;}
}

.wp-main{width: 100%;min-height: 10.8rem;position: relative;box-sizing: border-box;}
.wp-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wp-bg.phone{display: none;}
.wp-cont{width: 100%;position: relative;z-index: 12;padding-top: .9rem;padding-bottom: .7rem;}
.wp-tit{font-size: .48rem;color: #fff;line-height: .6rem;font-family: "Montserrat";text-align: center;margin-bottom: 2.5rem;}
.wp-des{display: none;}
.wp-list{width: 100%;max-width: 18rem;margin: 0 auto;font-size: 0;text-align: center;}
.wp-item{display: inline-block;vertical-align: top;width: 33.33%;font-size: 0;}
.wp-item:nth-child(3n+2){transition-delay: .2s;}
.wp-item:nth-child(3n+3){transition-delay: .4s;}
.wp-box{width: 3.91rem;margin: 0 auto;box-sizing: border-box;border: .1rem solid rgba(255,255,255,0.5);border-radius: .3rem;overflow: hidden;margin-bottom: .36rem;}
.wp-img{width: 100%;height: 4.13rem;object-fit: cover;vertical-align: top;}
.wp-text{width: 100%;}
.wp-t{font-size: .3rem;color: #fff;line-height: 1.5;width: 4.3rem;margin: 0 auto;}
.wp-num{font-size: .36rem;color: #000;opacity: 0.54;text-align: center;display: none;}
@media(max-width: 1080px){
    .wp-main{min-height: 19.2rem;}
    .wp-bg.pc{display: none;}
    .wp-bg.phone{display: block;}
    .wp-cont{padding-top: 1.8rem;padding-bottom: 1.7rem;}
    .wp-list{padding-left: .75rem;padding-right: .68rem;box-sizing: border-box;text-align: left;}
    .wp-item{width: 100%;background-color: #fff;margin-bottom: .35rem;border-radius: .3rem;padding: .08rem;}
    .wp-item:last-child{margin-bottom: 0;}
    .wp-box{width: 58.15%;height: 2.99rem;margin-right: 1.85%;display: inline-block;vertical-align: middle;margin-bottom: 0;}
    .wp-img{height: 100%;}
    .wp-text{display: inline-block;vertical-align: middle;width: 40%;text-align: center;}
    .wp-tit{font-size: .5rem;line-height: 1.6;margin-bottom: 4.75rem;}
    .wp-des{display: block;font-size: .36rem;color: #fff;line-height: .9rem;text-align: center;width: 100%;position: absolute;left: 0;top: 4.8rem;transform: translate(0,-50%);}
    .wp-num{display: block;line-height: .58rem;}
    .wp-t{font-size: .36rem;color: #000;line-height: .58rem;width: 100%;}
}


.wq-main{width: 100%;min-height: 10.8rem;position: relative;box-sizing: border-box;}
.wq-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wq-bg.phone{display: none;}
.wq-cont{width: 100%;position: relative;z-index: 12;padding: 1.25rem 0;}
.wq-tit{font-size: .48rem;color: #fff;line-height: .6rem;font-family: "Montserrat";text-align: center;margin-bottom: .35rem;}
.wq-des{font-size: .33rem;color: #fff;text-align: center;line-height: .43rem;max-width: 12rem;margin: 0 auto;}
.wq-top{width: 100%;text-align: center;font-size: 0;margin-bottom: .5rem;display: none;}
.wq-logo{vertical-align: top;height: 1.12rem;}
@media(max-width: 1080px){
    .wq-main{min-height: 19.2rem;}
    .wq-bg.pc{display: none;}
    .wq-bg.phone{display: block;}
    .wq-cont{padding: 1.13rem 0;}
    .wq-top{display: block;}
    .wq-tit{font-size: .5rem;line-height: 1.6;margin-bottom: .62rem;}
    .wq-des{line-height: .55rem;padding: 0 2rem;}
}

.wr-main{width: 100%;min-height: 10.8rem;position: relative;box-sizing: border-box;}
.wr-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wr-bg.phone{display: none;}
.wr-cont{width: 100%;position: relative;z-index: 12;padding: 1.29rem 0;}
.wr-tit{font-size: .48rem;color: #fff;line-height: .6rem;font-family: "Montserrat";text-align: center;margin-bottom: .35rem;}
.wr-des{font-size: .33rem;color: #fff;text-align: center;line-height: .43rem;}
.wr-text{width: 100%;background-color: #fff;position: absolute;left: 0;bottom: 0;z-index: 12;padding: .2rem 1rem;font-size: .33rem;color: #171717;line-height: .55rem;text-align: center;box-sizing: border-box;}
@media(max-width: 1080px){
    .wr-main{min-height: 19.2rem;}
    .wr-bg.pc{display: none;}
    .wr-bg.phone{display: block;}
    .wr-cont{padding: 1.56rem 0;}
    .wr-tit{font-size: .5rem;line-height: 1.6;margin-bottom: .25rem;}
    .wr-des{line-height: .55rem;padding: 0 2rem;}
    .wr-text{padding: .5rem;}
    .wr-text br{display: none;}
}

.ws-main{width: 100%;min-height: 10.8rem;position: relative;box-sizing: border-box;}
.ws-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.ws-bg.phone{display: none;}
.ws-cont{width: 100%;position: relative;z-index: 12;padding: 1.29rem 0;}
.ws-logo{width: 2.5rem;position: absolute;left: 1.18rem;top: .99rem;z-index: 10;}
.ws-tit{font-size: .26rem;color: #fff;line-height: .45rem;position: absolute;right: .56rem;bottom: .28rem;z-index: 12;}
@media(max-width: 1080px){
    .ws-main{min-height: 19.2rem;}
    .ws-bg.pc{display: none;}
    .ws-bg.phone{display: block;}
    .ws-logo{left: .58rem;top: 1.16rem;width: 2.77rem;}
    .ws-tit{font-size: .33rem;right: auto;left: 4.05rem;top: 1.79rem;width: 6.6rem;bottom: auto;text-align: left;}
}


.teaser{opacity:0;transform:translate3d(0,73px,0);transition:opacity 1s cubic-bezier(.25,.1,.25,1),transform 1s cubic-bezier(.25,.1,.25,1);}
.teaser.is-visible{opacity:1;transform:translate3d(0,0,0);}
.lter{opacity:0;transform:translate3d(-73px,0,0);transition:opacity 1s cubic-bezier(.25,.1,.25,1),transform 1s cubic-bezier(.25,.1,.25,1);}
.lter.is-visible{opacity:1;transform:translate3d(0,0,0);}
.rter{opacity:0;transform:translate3d(73px,0,0);transition:opacity 1s cubic-bezier(.25,.1,.25,1),transform 1s cubic-bezier(.25,.1,.25,1);}
.rter.is-visible{opacity:1;transform:translate3d(0,0,0);}




.wt-main{width: 100%;position: relative;box-sizing: border-box;}
.wt-bg{width: 100%;height: 100%;background-size: cover;background-position: center center;position: absolute;left: 0;top: 0;object-fit: cover;z-index: 1;}
.wt-bg.phone{display: none;}
.wt-cont{width: 100%;position: relative;z-index: 12;padding: 1.29rem 0;}
.wt-top{width: 100%;display: none;margin-bottom: .4rem;}
.wt-tit{font-size: .48rem;color: #fff;line-height: .66rem;font-family: "Montserrat";text-align: right;margin-bottom: .5rem;}
.wt-des{font-size: .36rem;color: #fff;text-align: right;line-height: .5rem;}
.wt-left{float: left;width: 39.43%;text-align: right;padding-right: .65rem;padding-left: 9.37%;box-sizing: border-box;}
.wt-right{float: right;width: 60.57%;}
.wt-img{width: 100%;vertical-align: top;}
.wt-img.phone{display: none;}
@media(max-width: 1080px){
    .wt-bg.pc{display: none;}
    .wt-bg.phone{display: block;}
    .wt-cont{padding: .95rem .35rem .77rem;box-sizing: border-box;}
    .wt-left{float: none;width: 100%;padding: 0;}
    .wt-right{float: none;width: 100%;border: 0.07rem solid rgba(255,255,255,0.5);border-radius: .3rem;overflow: hidden;}
    .wt-tit{font-size: .5rem;line-height: 1.6;margin-bottom: .44rem;text-align: center;}
    .wt-des{font-size: .33rem;line-height: 2.08;text-align: center;padding: 0 .2rem;box-sizing: border-box;margin-bottom: .95rem;}
    .wt-text{padding: .5rem;}
    .wt-text br{display: none;}
    .wt-img.pc{display: none;}
    .wt-img.phone{display: inline-block;border-radius: .28rem;}
    .wt-top{display: block;text-align: center;}
    .wt-logo{height: 1.12rem;vertical-align: top;}
}









